# Prevent invalid caching if input files are modified during a build.
build --experimental_guard_against_concurrent_changes

# Enforce strict checks of deprecated toolchain api.
build --incompatible_require_linker_input_cc_api

# Use new cc toolchain resolution api
build --incompatible_enable_cc_toolchain_resolution
 
# xed is noisy...
build --output_filter='^(?!@com_github_intelxed_xed//).*'

# build sandboxes on tmpfs (it's much faster!)
build --experimental_sandbox_base=/dev/shm

# use the (relatively) modern c++ version =)
build --features=c++17

build --experimental_strict_action_env